.projects{
    margin-top: 50px;
    overflow-y: scroll;
    height: 75%;
    width: 100%;
    padding-right: 10%;

    &::-webkit-scrollbar {
        width: 3px;
        background-color: white;
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #54BAB9;
      }
      
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        border-radius: 20px;
        background-color: white;
      }

    &__line{
        background-color: #54BAB9;
        width: 185px;
        height: 3px;
    }
}