.navigator{
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 0 70px 0 40px;
    width: min-content;

    &__container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        transform: rotate(270deg);
        transform-origin: top left;
        width: 20px;
        margin-bottom: 30%;
    }

    &__link{
        margin-right: 200%;
        background: none;
        border: none;
        color: white;
        font-family: Poppins;
        font-size: 18px;
        padding-bottom: 5px;

        &:hover{
            border-bottom: 3px solid #54BAB9;
        }

        &-active{
            border-bottom: 3px solid #54BAB9;
        }
    }
}