.navigator{
    display: flex;
    align-items: flex-end;
    padding: 0 70px 20px 40px;
    width: min-content;

    &__container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        transform: rotate(270deg);
        transform-origin: top left;
        width: 20px;
    }

    &__link{
        margin-right: 200%;
        background: none;
        border: none;
        color: white;
        font-family: Poppins;
        font-size: 18px;

        &:hover{
            border-bottom: 3px solid #54BAB9;
        }

        &-active{
            border-bottom: 3px solid #54BAB9;
        }
    }
}

@media screen and (max-width: 1150px) {
    .navigator{
        padding: 0 40px 20px 20px;
    }
}