.career{
    margin-top: 50px;
    height: 100%;

    &__line{
        background-color: #54BAB9;
        width: 185px;
        height: 3px;
    }
    &__container{
        overflow-y: scroll;
        height: 75%;
        width: 100%;
        padding-right: 30%;

        &::-webkit-scrollbar {
            width: 3px;
            background-color: white;
          }
          
          &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: #54BAB9;
          }
          
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
            border-radius: 20px;
            background-color: white;
          }
    }
    &__card{
        margin: 10px 0 50px;
        
        
        h4{
            margin: 10px 0;
            color: #9a9a9a;
        }
        ul{
            margin-left: 15px;
            ul{
                margin-left: 30px;
            }
        }
    }
}